* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  height: auto;
  max-width: 100%;
}

.header {
  background-color: #569C87;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}
.header__title--btn {
  color: #FCCA46;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -4px;
}
.header__title--btn:hover {
  opacity: 0.5;
}

.nav {
  width: 100%;
}
.nav-menus {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 3.2rem 2rem 3.2rem;
}
.nav-menus__menu {
  height: 65vh;
  min-width: 45%;
  margin: 2.5%;
}
.nav-menus__menu--btn {
  height: 65vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  box-shadow: 0 0 10px 0 #E2E2E1;
}
.nav-menus__menu--title {
  font-weight: normal;
  font-size: 1.5rem;
  height: auto;
  margin-bottom: 2rem;
}
.nav-menus__menu--p {
  font-size: 2.5rem;
  font-weight: 400;
  height: auto;
}
.nav-menus__menu--menu1 {
  background-color: #FDE0DC;
}
.nav-menus__menu--menu1 .nav-menus__menu--p {
  text-transform: uppercase;
  color: #3C1218;
}
.nav-menus__menu--menu1 .nav-menus__menu--title {
  font-weight: 700;
  font-size: 1.1rem;
  color: #3C1218;
}
.nav-menus__menu--menu2 {
  background-color: #FFF5FE;
}
.nav-menus__menu--menu2 .nav-menus__menu--p {
  color: #C77412;
}
.nav-menus__menu--menu2 .nav-menus__menu--title {
  font-weight: 700;
  color: #C77412;
}
.nav-menus__menu--menu3 {
  background-color: #F9F9F9;
}
.nav-menus__menu--menu3 .nav-menus__menu--p {
  color: #0887FB;
}
.nav-menus__menu--menu3 .nav-menus__menu--title {
  font-weight: 700;
  color: #0887FB;
}
.nav-menus__menu--menu4 {
  background-color: #FDFFFD;
}
.nav-menus__menu--menu4 .nav-menus__menu--p {
  color: #72BF56;
}
.nav-menus__menu--menu4 .nav-menus__menu--title {
  font-weight: 700;
  color: #72BF56;
}

.bton {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.bton__p {
  color: #FCCA46;
  background-color: #569C87;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: #569C87;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.footer__content--btn {
  color: #FCCA46;
  margin: 1rem;
  font-size: 1.7rem;
}

/*index1*/
.title {
  text-align: center;
  margin: 2rem auto 1rem auto;
}

.zone-menu {
  width: 80%;
  margin: 1rem 10% 6rem 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDE0DC;
  color: #3C1218;
  box-shadow: 0 0 10px 0 #E2E2E1;
}
.zone-menu__header {
  height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.zone-menu__header--img {
  margin: 0 auto 0 auto;
  width: 130px;
  height: 100px;
}
.zone-menu__footer {
  display: flex;
  align-items: center;
}
.zone-menu__footer--img {
  margin-right: -15px;
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
